videos/*
*.mp4
*.mp3
videos/*
*.log
dementia
settings.json
*.json
build/*
library/microui

# Engine Specific Textures
assets/psekai/*
assets/textures/*

assets/diva/*
assets/scores/*
assets/sfx/*


assets/replays/*
assets/shaders/*.h
assets/maps/*